.App {
  display: grid;
  grid-template-columns: 200px auto;
  width: 100vw;
  margin: 0 auto;
  max-height: 100vh;
}

.ChatColumn {
  max-height: 100vh;
  color: white;
  margin: 0 0 0 -200px;
  transition: 1s;
}

.ChatColumn.ShowHistory {
  margin-left: 0;
}

.HistoryBtn {
  border: none;
  height: 60px;
  font-size: 20px;
  background-color: #323236;
}

.HistoryBtn:hover {
  cursor: pointer;
  background-color:rgb(35, 35, 35);
}

.HistoryColumn {
  transform: translateX(-100%);
  transition: 1s;
  color: white;
  background-color: #323236;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
  height: 100vh;
}

.HistoryColumn.ShowHistory {
  transform: translate(0%, 0%);
}

.HistoryBanner {
  display: grid;
  grid-template-columns: auto 0 auto;
}

.HistoryTitle {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #323236;
}

.HistoryButton:hover {
  cursor: pointer;
  background-color:rgb(35, 35, 35);
}

.HorizontalBorder {
  width: 100%;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: rgb(70, 70, 70);
}

.VerticalBorder {
  height: 100%;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: rgb(70, 70, 70);
  z-index: 1;
}

.Faded {
  color: rgb(119, 119, 119);
}

h3 {
  padding: 20px
}

h4 {
  padding: 5px;
}

.ChatTitle {
  display: grid;
  grid-template-columns: 60px 60px auto 60px 60px ;
  height: 60px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  background-color: #323236;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
  position: relative;
}

.TitleBtn {
  border: none;
  height: 60px;
  font-size: 20px;
  background-color: #323236;
}

.TitleBtn:hover {
  cursor: pointer;
  background-color:rgb(35, 35, 35);
}

.ChatContent {
  height: calc(100vh - 150px);
  overflow-y: scroll;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.HistoryContent {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.EmptyHistoryMessage {
  padding: 10px; /* Optional: Add padding for better visual appeal */
  margin-top: 20%;
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  text-align: center; /* Center-align the text inside the div */
}

.EmptyHistoryMessage svg {
  margin-bottom: -2px; /* Adjust the position of the icon for better alignment */
}

.SuggestionsInstruction {
  color: rgb(164, 161, 161);
  margin-top: 78%;
  margin-left: 15%;
  font-size: 14px;
}