/* Input.module.css */

.wrapper {
  display: grid;
  grid-template-columns: auto 0 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #323236;
  position: relative;
  margin-right: 15%;
  margin-left: 15%;
}

.text {
  border: none;
  outline: none;
  background: none;
  padding: 20px;
  color: white;
  font-size: 14px;
}

.dropbtn {
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  background-color: #323236;
}

.dropbtn:hover {
  cursor: pointer;
  background-color:rgb(35, 35, 35);
}

.btn {
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  background-color: #323236;
}

.btn:hover {
  cursor: pointer;
  background-color:rgb(35, 35, 35);
}

.border {
  height: 100%;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: rgb(70, 70, 70);
  z-index: 1;
}

/* Add this style for suggestion items */
.suggestionItem {
  padding: 10px;
  color: black;
  cursor: pointer;
  font-size: 12px;
  border: 2px solid rgb(167, 167, 167);
  border-radius: 10px; /* Added border-radius for a bubble effect */
  margin-bottom: 10px; /* Added margin to separate bubbles */
}

.suggestionItem:hover {
  border: 2px solid rgb(167, 167, 167);
  background: rgba(70, 70, 70, 0.247);
}

/* Add margin-right to create space between horizontally aligned divs */
.suggestionItem:nth-child(2) {
  margin-left: 20px; /* Adjust this value based on your desired space */
}

.suggestionItem:nth-child(4) {
  margin-left: 20px; /* Adjust this value based on your desired space */
}

/* Additional styles for the suggestion container */
.suggestionContainer {
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  width: 100%;
  bottom: 100%; /* Position above the input field */
  left: 0;
  /* background-color: #323236; */
  border-radius: 10px 10px 10px 10px;
  overflow: hidden; /* Hide overflow for a cleaner look */
}

.crossBtn {
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(255, 170, 170);
  transition: transform 0.3s ease-in-out; /* Add a transition for a smooth effect */
}

.crossBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 130, 130);
}

/* Add this style for the disabled button */
.disabledButton {
  background-color: #666; /* Use your preferred color for disabled state */
  color: #000; /* Use your preferred text color for disabled state */
  cursor: not-allowed;
}

.disabledButton:hover {
  background-color: #666; /* Use your preferred color for disabled state */
}